*{
    padding:0;
    margin:0;
    border:0;
}
.MissingTag {
    background-color: black;
    color: white;
}
.EnglishTag {
    background-color: gray;
    color: white;
}
body {
    color: #000000;
    font-family: monospace;
    font-size: 10pt;
    margin: 30px 100px;
    width: 800px;
	background: #ffffff url(background-white.png) 0% 0% no-repeat;
}
h1, h2, h3 {
	font-family: Verdana;
	margin: 1em;
}
.Todo {
    color: #0000ff;
    background-color: #ffff00;
}
.Ignore {
    color: #ffffff
}
.PreProc {
    color: #cd00cd
}
.Special {
    color: #ff1493
}
.Identifier {
    color: #008b8b
}
