.MissingTag { background-color: black; color: white; }
.EnglishTag { background-color: gray; color: white; }
body { color: #000000; background-color: #ffffff; font-family: monospace; }
.Todo { color: #0000ff; background-color: #ffff00; }
.Ignore { color: #ffffff; }
.PreProc { color: #cd00cd; }
.Special { color: #ff1493; }
.Identifier { color: #008b8b; }
