* {
    padding:0;
    margin:0;
    border:0;
}
.MissingTag {
    background-color: black;
    color: white;
}
.EnglishTag {
    background-color: gray;
    color: white;
}

div#SearchForm {
    float: right;
    width: 200px;
}

body {
    color: #000000;
    font-family: Verdana;
    margin: 30px 100px;
    background: #ffffff url(background-white.png) 0% 0% no-repeat;
}

h1, h2, h3 {
    margin: 1em;
}
.Todo {
    color: #0000ff;
    background-color: #ffff00;
}
.Ignore {
    color: #ffffff
}
.PreProc {
    color: #cd00cd
}
.Special {
    color: #ff1493
}
.Identifier {
    color: #008b8b
}

header {
    padding-bottom: 8px;
    border-bottom: 1px solid #c3c3c3;
}

nav {
    float: left;
    width: 100px;
    font-size: 12px;
    padding: 8px 0px;
    border-right: 1px solid #c3c3c3;
}

nav li {
    margin-bottom: 2px;
    list-style-type: none;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 1px 4px;
}

nav li a:link,
nav li a:visited,
nav li a:active {
    color: #68e;
}

nav li a:hover {
    background-color: #e68;
    color: #fff;
}

nav li a.CurrentPage {
    background-color: #68e;
    color: #fff;
}

article.Vimdoc {
    float: left;
    width: 600px;
    padding: 12px;
    border-left: 1px solid #c3c3c3;
    position: relative;
    left: -1px;
    visible: auto;
    font-family: "Osaka-mono", "Osaka-等幅", monospace;
    font-size: 10.5pt;
}

article.Vimdoc a:link,
article.Vimdoc a:visited,
article.Vimdoc a:active {
}

article.Vimdoc a:hover {
    background-color: #008b8b;
    color: #ffffff;
}

article.Vimdoc a.Constant {
    color: #68e;
}

article.Vimdoc a.Constant:hover {
    background-color: #68e;
    color: #ffffff;
}

footer {
    padding-top: 8px;
    border-top: 1px solid #c3c3c3;
    clear: both;
}

/* vim:set ts=8 sts=4 sw=4 tw=0 et: */
